*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e0e8ff;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 90vw;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 20px;
}
h1{
    background-color:#1b1096;
    color:#fff;
    width: 100%;
    margin-bottom: 10px;
    font-size: 2rem;
    padding:20px 10px;
}
.output{
    padding:10px 5px;
    background-color:#1b1096 ;
    border-radius: 99px;
    margin-top: 10px;
    color: #fff;
    margin: 5px auto;
    width: 12%;
    
}
.input-section{
    width: 70%;
    margin: 0 auto;
}
.input-slider{
    width:100%;
    margin-top: 5px;
}
.output-section{
    margin-top: 20px;
}